In [1]:
import pandas as pd 
data = pd.read_csv("employeedata.csv")
data

,ID,Experience_Years,Age,Gender,Salary,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16374,Unnamed: 16375,Unnamed: 16376,Unnamed: 16377,Unnamed: 16378,Unnamed: 16379,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383
0,1.0,5.0,28.0,Female,250000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,21.0,Male,50000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,3.0,23.0,Female,170000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2.0,22.0,Male,25000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1.0,17.0,Male,10000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,25.0,62.0,Male,5001000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,19.0,54.0,Female,800000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,2.0,21.0,Female,9000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,10.0,36.0,Female,61500.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,15.0,54.0,Female,650000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11.0,4.0,26.0,Female,250000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,6.0,29.0,Male,1400000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13.0,14.0,39.0,Male,6000050.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14.0,11.0,40.0,Male,220100.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15.0,2.0,23.0,Male,7500.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16.0,4.0,27.0,Female,87000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17.0,10.0,34.0,Female,930000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18.0,15.0,54.0,Female,7900000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,2.0,21.0,Male,15000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20.0,10.0,36.0,Male,330000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21.0,15.0,54.0,Male,6570000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22.0,4.0,26.0,Male,25000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23.0,5.0,29.0,Male,6845000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24.0,1.0,21.0,Female,6000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25.0,4.0,23.0,Female,8900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26.0,3.0,22.0,Female,20000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27.0,1.0,18.0,Male,3000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28.0,27.0,62.0,Female,10000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29.0,19.0,54.0,Female,5000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30.0,2.0,21.0,Female,6100.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31.0,10.0,34.0,Male,80000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32.0,15.0,54.0,Male,900000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,33.0,20.0,55.0,Female,1540000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34.0,19.0,53.0,Female,9300000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35.0,16.0,49.0,Male,7600000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
print(data.groupby(["Gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020398AF26D0>

In [4]:
a=data.groupby(["Gender","Experience_Years"])
print(a.groups)

{('Female', 5.0): [0], ('Male', 1.0): [1, 4, 26], ('Female', 3.0): [2, 25], ('Male', 2.0): [3, 14, 18], ('Male', 25.0): [5], ('Female', 19.0): [6, 28, 33], ('Female', 2.0): [7, 29], ('Female', 10.0): [8, 16], ('Female', 15.0): [9, 17], ('Female', 4.0): [10, 15, 24], ('Male', 6.0): [11], ('Male', 14.0): [12], ('Male', 11.0): [13], ('Male', 10.0): [19, 30], ('Male', 15.0): [20, 31], ('Male', 4.0): [21], ('Male', 5.0): [22], ('Female', 1.0): [23], ('Female', 27.0): [27], ('Female', 20.0): [32], ('Male', 16.0): [34], (nan, nan): [35], (nan, nan): [36], (nan, nan): [37], (nan, nan): [38], (nan, nan): [39]}

In [10]:
print(data.groupby(["Gender"]).max())

          ID  Experience_Years   Age      Salary  Unnamed: 5  Unnamed: 6  \
Gender
Female  34.0              27.0  62.0  10000000.0         NaN         NaN
Male    35.0              25.0  62.0   7600000.0         NaN         NaN

        Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  ...  Unnamed: 16374  \
Gender                                                   ...
Female         NaN         NaN         NaN          NaN  ...             NaN
Male           NaN         NaN         NaN          NaN  ...             NaN

        Unnamed: 16375  Unnamed: 16376  Unnamed: 16377  Unnamed: 16378  \
Gender
Female             NaN             NaN             NaN             NaN
Male               NaN             NaN             NaN             NaN

        Unnamed: 16379  Unnamed: 16380  Unnamed: 16381  Unnamed: 16382  \
Gender
Female             NaN             NaN             NaN             NaN
Male               NaN             NaN             NaN             NaN

        Unnamed: 16383
Gender
Female             NaN
Male               NaN

[2 rows x 16383 columns]

In [11]:
print(data.groupby(["Gender"]).mean())

               ID  Experience_Years        Age        Salary  Unnamed: 5  \
Gender
Female  18.277778         10.111111  37.111111  2.054917e+06         NaN
Male    17.705882          8.235294  33.764706  2.063626e+06         NaN

        Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  ...  \
Gender                                                               ...
Female         NaN         NaN         NaN         NaN          NaN  ...
Male           NaN         NaN         NaN         NaN          NaN  ...

        Unnamed: 16374  Unnamed: 16375  Unnamed: 16376  Unnamed: 16377  \
Gender
Female             NaN             NaN             NaN             NaN
Male               NaN             NaN             NaN             NaN

        Unnamed: 16378  Unnamed: 16379  Unnamed: 16380  Unnamed: 16381  \
Gender
Female             NaN             NaN             NaN             NaN
Male               NaN             NaN             NaN             NaN

        Unnamed: 16382  Unnamed: 16383
Gender
Female             NaN             NaN
Male               NaN             NaN

[2 rows x 16383 columns]

In [12]:
print(data.groupby(["Gender"]).groups)

{'Female': [0, 2, 6, 7, 8, 9, 10, 15, 16, 17, 23, 24, 25, 27, 28, 29, 32, 33], 'Male': [1, 3, 4, 5, 11, 12, 13, 14, 18, 19, 20, 21, 22, 26, 30, 31, 34]}

In [15]:
g=data.groupby(["Gender"])
print(g.get_group("Male"))

      ID  Experience_Years   Age Gender     Salary  Unnamed: 5  Unnamed: 6  \
1    2.0               1.0  21.0   Male    50000.0         NaN         NaN
3    4.0               2.0  22.0   Male    25000.0         NaN         NaN
4    5.0               1.0  17.0   Male    10000.0         NaN         NaN
5    6.0              25.0  62.0   Male  5001000.0         NaN         NaN
11  12.0               6.0  29.0   Male  1400000.0         NaN         NaN
12  13.0              14.0  39.0   Male  6000050.0         NaN         NaN
13  14.0              11.0  40.0   Male   220100.0         NaN         NaN
14  15.0               2.0  23.0   Male     7500.0         NaN         NaN
18  19.0               2.0  21.0   Male    15000.0         NaN         NaN
19  20.0              10.0  36.0   Male   330000.0         NaN         NaN
20  21.0              15.0  54.0   Male  6570000.0         NaN         NaN
21  22.0               4.0  26.0   Male    25000.0         NaN         NaN
22  23.0               5.0  29.0   Male  6845000.0         NaN         NaN
26  27.0               1.0  18.0   Male     3000.0         NaN         NaN
30  31.0              10.0  34.0   Male    80000.0         NaN         NaN
31  32.0              15.0  54.0   Male   900000.0         NaN         NaN
34  35.0              16.0  49.0   Male  7600000.0         NaN         NaN

    Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 16374  Unnamed: 16375  \
1          NaN         NaN         NaN  ...             NaN             NaN
3          NaN         NaN         NaN  ...             NaN             NaN
4          NaN         NaN         NaN  ...             NaN             NaN
5          NaN         NaN         NaN  ...             NaN             NaN
11         NaN         NaN         NaN  ...             NaN             NaN
12         NaN         NaN         NaN  ...             NaN             NaN
13         NaN         NaN         NaN  ...             NaN             NaN
14         NaN         NaN         NaN  ...             NaN             NaN
18         NaN         NaN         NaN  ...             NaN             NaN
19         NaN         NaN         NaN  ...             NaN             NaN
20         NaN         NaN         NaN  ...             NaN             NaN
21         NaN         NaN         NaN  ...             NaN             NaN
22         NaN         NaN         NaN  ...             NaN             NaN
26         NaN         NaN         NaN  ...             NaN             NaN
30         NaN         NaN         NaN  ...             NaN             NaN
31         NaN         NaN         NaN  ...             NaN             NaN
34         NaN         NaN         NaN  ...             NaN             NaN

    Unnamed: 16376  Unnamed: 16377  Unnamed: 16378  Unnamed: 16379  \
1              NaN             NaN             NaN             NaN
3              NaN             NaN             NaN             NaN
4              NaN             NaN             NaN             NaN
5              NaN             NaN             NaN             NaN
11             NaN             NaN             NaN             NaN
12             NaN             NaN             NaN             NaN
13             NaN             NaN             NaN             NaN
14             NaN             NaN             NaN             NaN
18             NaN             NaN             NaN             NaN
19             NaN             NaN             NaN             NaN
20             NaN             NaN             NaN             NaN
21             NaN             NaN             NaN             NaN
22             NaN             NaN             NaN             NaN
26             NaN             NaN             NaN             NaN
30             NaN             NaN             NaN             NaN
31             NaN             NaN             NaN             NaN
34             NaN             NaN             NaN             NaN

    Unnamed: 16380  Unnamed: 16381  Unnamed: 16382  Unnamed: 16383
1              NaN             NaN             NaN             NaN
3              NaN             NaN             NaN             NaN
4              NaN             NaN             NaN             NaN
5              NaN             NaN             NaN             NaN
11             NaN             NaN             NaN             NaN
12             NaN             NaN             NaN             NaN
13             NaN             NaN             NaN             NaN
14             NaN             NaN             NaN             NaN
18             NaN             NaN             NaN             NaN
19             NaN             NaN             NaN             NaN
20             NaN             NaN             NaN             NaN
21             NaN             NaN             NaN             NaN
22             NaN             NaN             NaN             NaN
26             NaN             NaN             NaN             NaN
30             NaN             NaN             NaN             NaN
31             NaN             NaN             NaN             NaN
34             NaN             NaN             NaN             NaN

[17 rows x 16384 columns]

In [16]:
data["Gender"].value_counts()

Female    18
Male      17
Name: Gender, dtype: int64